html {
  scroll-behavior: smooth;
}

body {
	position: relative;
	margin:0 auto 0 auto;
	background-color: #FCFCFC;
	overflow-x: hidden;
	opacity: 1;
	text-align: justify;
}
/*.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}*/
.text-center{
	text-align: center;
}

.container {
	max-width: 1000px;
	padding:02% 10px;
	margin: 0 auto;
}
.ibg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	align-content: center;
	img{display:none;}
}

